
@{
    ViewBag.Title = "Index";
}

<section class="jumbotron text-center bg-image" style="background-image: url('/images/background1.jpg'); background-size: cover; height: 700px;">
    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); ">
        <h1 style="font-weight: bolder; font-size:70px; color : aliceblue; padding-bottom : 40px; ">Welcome</h1>
        
        <a href="/registration/index" class="btn btn-outline-light btn-lg" style="padding-right : 20px;">Sign in</a>
        <a href="/login/index" class="btn btn-outline-light btn-lg" style="padding-left : 20px;">Login Now</a>
        </p>

    </div>
</section>





